div {
	display: block;
}

h1 {
	font-size: 12px;
}

h1,
h2 {
	text-align: center;
}

.app {
	padding: 20px;
	margin: 40px auto;
	border: solid 5px coral;
	background-color: white;
	border-radius: 20px;
}
