form {
	text-align: center;
}

h1 {
	font-family: "Ultra", serif;
	font-size: 50px;
	color: #b47eb3;
	text-align: center;
}

h2 {
	font-family: "Slabo 27px", serif;
	font-size: 30px;
	color: #8bb8a8;
	text-align: center;
}

img {
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

.app {
	border: solid 5px #8bb8a8;
	max-width: 700px;
	background-color: #fdf5bf;
	padding: 25px;
	margin: 100px auto;
}

.searchBar {
	font-family: "Slabo 27px", serif;
}

.go {
	border-radius: 100%;
	background-color: #92d1c3;
	border: solid 2px #8bb8a8;
	font-family: "Ultra", serif;
	color: #ffd5ff;

	transition: all 150ms ease-in-out;
}

.go:hover {
	background-color: #8bb8a8;
	border: solid 2px #92d1c3;
}

.here {
	border-radius: 100%;
	background-color: #ffd5ff;
	border: solid 2px #b47eb3;

	transition: all 150ms ease-in-out;
}

.here:hover {
	background-color: #b47eb3;
	border: solid 2px #ffd5ff;
}

.currentWeatherDesc {
	font-family: "Ultra", serif;
	font-size: 25px;
	text-align: center;
	color: #b47eb3;
	font-weight: bold;
	text-transform: capitalize;
}

.currentWeatherTemp {
	font-size: 25px;
	font-family: "Ultra", serif;
	text-align: center;
	color: #b47eb3;
}

.divider {
	color: #92d1c3;
}

.fahrenheit,
.celsius {
	color: #b47eb3;
	transition: all 150ms ease-in-out;
}

.fahrenheit:hover,
.celsius:hover {
	color: #ffd5ff;
}

.weather-temperature .active {
	color: #b47eb3;
	cursor: default;
	text-decoration: none;
}

.weather-temperature .active:hover {
	text-decoration: none;
}

.featureList {
	font-family: "Slabo 27px", serif;
	color: #92d1c3;
}

.featureResult {
	font-family: "Slabo 27px", serif;
	color: #b47eb3;
	font-weight: bold;
}

.changeLink {
	font-family: "Slabo 27px", serif;
	color: #b47eb3;
	transition: all 150ms ease-in-out;
}

.changeLink:hover {
	color: #ffd5ff;
}

.forecastDay {
	font-family: "Ultra", serif;
	font-size: 12px;
	padding: 0;
	color: #b47eb3;
	text-align: center;
	text-transform: capitalize;
}

.forecastPic {
	text-align: center;
}

.forecastTemp {
	font-family: "Slabo 27px", serif;
	color: #8bb8a8;
	text-align: center;
	font-size: 17px;
}
